@keyframes animation1 {
    0% {background-color:black;}
    25% {width:200px;}
    50% {width:100px;}
    100% {background-color:green;}
}

#div1 {
    height:100px;
    width:100px;
    background-color: black;
    animation-name: animation1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}